extends layout

block content
  h1= title
  - let result  = results;
  div(class="container-fluid")
  div(class="row m-1")
   each value,index in results
    - let destination = `buy(\"/jungle/update?id=${value._id}\")`
    div(class="row-sm-2", class="m-1" )  #{value.animal_name}, #{value.animal_type}, #{value.animal_quantity}
      button.btn(class="btn-primary m1-1", onclick=destination) Update
   script.
    function buy(path)
    {
      //-alert(`Your purchased Item ${index+1}`)
      window.location.href=path 
    }
    function dispatch(path){ 
      window.location.href=path 
    }                